<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/funcionalidades/chat/chat.css">
    <link rel="shortcut icon" href="../../../static/images/MiniLogo-Maior.ico" type="image/x-icon">
    <title>BioGreen Manager</title>
</head>
<body>
    <div id="container"> 
        <div id="header">
            <img id="logo-biogreen" src="../../../static/images/MiniLogo-Maior.png" alt="Logo da BioGreen">
            <img id="menu-burger" src="../../../static/images/menu-burger.png" alt="Menu-Burger">
        </div>

        <div id="content">

            <div id="status-chat">
                <div>
                    <p id="titulo">Conversando com atendente</p>
                </div>
                <div>
                    <div id="circle"></div>
                    <p>On-line</p>
                </div>
            </div>

            <div class="linha-div"></div>
            <div id="conteudo-chat">


                <div class="chat-atendente">

                    <div class="img-atendente">
                        <img src="/static/images/MiniLogo-Maior.png">
                    </div>

                    <p class="nome-atendente">Tiburcio</p>

                    <div class="msg-atendente">
                        <p>Olá, como podemos te ajudar hoje?</p>
                    </div>
                    
                </div>
            
            </div>
            <div id="enviar-msg">
                <div class="linha-div"></div>
                <div id="envio">
                    <div id="mensagem">
                        <input type="text" placeholder="Mensagem">
                        <button>
                            <img src="/static/images/anexo-icon.png" alt="">
                        </button>
                    </div>
                    <button id="btn-enviar-msg">
                        <img src="/static/images/seta-enviar.png" alt="">
                    </button>
                </div>
            </div>
            

        </div>
      
        <div id="menu-inferior">
            <a href="/templates/funcionalidades/chat/chat.html" id="btn-chat">
                <img src="/static/images/btn-chat.png" alt="">
            </a>
            <a href="/templates/funcionalidades/solicitacoes/index.html" id="btn-solicitacoes">
                <img src="/static/images/btn-solicitacoes.png" alt="">
            </a>
            <a href="/templates/home.html" id="btn-home">
                <img src="/static/images/btn-home.png" alt="">
            </a>
            <a href="/templates/funcionalidades/noticias/noticias.html" id="btn-noticias">
                <img src="/static/images/btn-noticias.png" alt="">
            </a>
            <a href="/templates/funcionalidades/notificacoes/notificacoes.html" id="btn-notificacoes">
                <img src="/static/images/btn-notificacoes.png" alt="">
            </a>
        </div>
        
    </div>
</body>
</html>