<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/MiniLogo-Maior.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>BioGreen Manager</title>
</head>
<body>
    
    <div id="container">

        <header id="header">
            <img src="../static/images/MiniLogo-Maior.png" alt="Logo da BioGreen">
        </header>

        <div id="content">
        </div>

        <div id="conteudo">
            <h1>Seja bem-vindo!</h1>
            <p>Acesse ou crie sua conta</p>
            <img src="../static/images/tela-get-starter.png" alt="">
        </div>

        <div id="botoes">
            <a id="btn-entrar" href="/templates/auth/entrar.html">Entrar</a>
            <a id="btn-cadastrar" href="/templates/auth/cadastrar.html">Cadastrar</a>
        </div>

    </div>

</body>
</html>