<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/auth/entrar.css">
    <link rel="shortcut icon" href="../../static/images/MiniLogo-Maior.ico" type="image/x-icon">
    <title>BioGreen Manager</title>
</head>
<body>
    <div id="container"> 
        <div id="header">
            <img src="../../static/images/MiniLogo-Maior.png" alt="Logo da BioGreen">
        </div>
        <div id="card-login">
            <h1>Entrar</h1>
            <form action="">

                <input type="text" name="" id="" placeholder="E-mail">
                
                <input type="text" name="" id="" placeholder="Senha">
                
                <a id="btn-entrar" href="/templates/home.html">Entrar</a>
                <!-- <button type="submit">Entrar</button> -->
            </form>
        </div>
        <a id="link-esqueceu-senha" href="">Esqueceu sua senha?</a>
        <div id="link-cadastro">
            <p>Não possuí uma conta?</p>
            <a href="/templates/auth/cadastrar.html">Cadastra-se</a>
        </div>
    </div>
</body>
</html>